{% extends 'base.html.twig' %}

{% block title %}New Planche{% endblock %}

{% block body %}
    <h1>Create new Planche</h1>

    {{ include('planche/_form.html.twig') }}

    <a href="{{ path('app_planche_index') }}">back to list</a>
{% endblock %}
