<form method="post" action="{{ path('app_pochette_delete', {'id': pochette.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette pochette ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pochette.id) }}">
    <button type="submit" class="btn btn-outline-danger">
        <i class="fas fa-trash-alt me-2"></i>Supprimer
    </button>
</form>
