<form method="post" action="{{ path('app_prise_de_vue_delete', {'id': prise_de_vue.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette prise de vue ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prise_de_vue.id) }}">
    <button type="submit" class="btn btn-outline-danger">
        <i class="fas fa-trash-alt me-2"></i>Supprimer
    </button>
</form>
