<form method="post" action="{{ path('app_type_prise_vue_delete', {'id': type_prise_vue.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_prise_vue.id) }}">
    <button class="btn">Delete</button>
</form>
